.SideMenu {
    height: 100%;
    width: 80px;
    position: fixed;
    margin: auto;
    background-color: rgb(137, 207, 240);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.SideMenuLink {
    display: flex;
    flex-direction: column;
    margin-bottom: 100%;
    color: whitesmoke;
    font-size: 15px;
}