.TicketItem {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}
 
.Summary {
    display: inline;
}

.Info {
    display: inline;
    vertical-align: center;
    padding-left: 10px;
    font-size: x-small;
    font-weight: lighter;
}

.Priority {
    font-size: small;
}

.ClaimButton {
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
    border-color: rgb(0, 153, 255);
    color:  rgb(0, 153, 255);
}

.CompleteButton {
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
    border-color: green;
    color:  green;
}

.TicketButtons {
    display: inline;
}
