.TicketItem {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}
 
.Summary {
    display: inline;
}

.Info {
    display: inline;
    vertical-align: center;
    padding-left: 10px;
    font-size: x-small;
    font-weight: lighter;
}

.Priority {
    font-size: small;
}

.ClaimButton {
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
    border-color: orange;
    color: orange;
}

.UnclaimButton {
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
    border-color: red;
    color: red;
}

.CompleteButton {
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
    border-color: green;
    color:  green;
}

.InProgressButton { 
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
    border-color: orange;
    color: orange;
}

.TicketButtons {
    display: inline;
}
